

.navbar {
    font-family: Rockwell;
    display: flex;
    align-items: flex-start;
    h1 {
        font-size: 100px;
    }
    img {
        max-width: 100%;
        max-height: auto;
      }
  }

  .carousel-item {
    height: 420px;
  }
