
.navbar {
    font-family: Rockwell;
    display: flex;
    align-items: flex-start;
    h1 {
        font-size: 100px;
    }
    img {
        max-width: 100%;
        max-height: auto;
      }
  }

  .btn-bd-info {
    --bs-btn-font-family: Rockwell;
    --bs-btn-bg: #b15333;
    --bs-btn-hover-color: #d7856a;
    --bs-btn-color: white;
  }

  .divider {
    display: flex;
    background-color: #b15333;
    position: auto;
  }

  .carousel {
    background-color: #b15333;
  }
  .carousel-item {
    height: 30%;
  }

  .chatterbox {
    background-color: #b15333;
    width: 100%;
  }

  .clearfix {
    width: 80%;
    position: relative;
    margin: auto;
    background-color: #b15333;
    font-family: Century Schoolbook;
    color: white;
    font-style: italic;

    h2 {
      border: 3px solid white;
      width: fit-content;
      font-family: Rockwell;
      padding: 10px;
      font-weight: bold;
      margin-left: 10px;
      font-style: normal;
    }
  }