

  p {
    font-family: 'Lora', serif;
    color: white;
    font-style: italic;
    font-size: 17px;
    font-weight: 500;
    b {
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
    }
  
  }



.navbar {
    font-family: Rockwell;
    display: flex;
    align-items: flex-start;
    img {
        max-width: 100%;
        max-height: auto;
      }
  }

  .btn-bd-info {
    --bs-btn-font-family: Rockwell;
    --bs-btn-bg: #b15333;
    --bs-btn-hover-color: #d7856a;
    --bs-btn-color: white;
  }

  .divider {
    display: flex;
    background-color: #b15333;
    position: auto;
  }

  .carousel {
    background-color: #b15333;
  }
  .carousel-item {
    height: 30%;
  }

  .chatterbox {
    background-color: #b15333;
    width: 100%;
  }

  .clearfix {
    width: 80%;
    position: relative;
    margin: auto;
    background-color: #b15333;
    

    h2 {
      border: 3px solid white;
      width: fit-content;
      font-family: Rockwell;
      padding: 10px;
      font-weight: bold;
      margin-left: 10px;
      font-style: normal;
      color: white;
    }
  }

.bottom-row {
  p {
    color: #b15333;
  }
}