.navbar {
    font-family: Rockwell;
    display: flex;
    align-items: flex-start;
  }
  .navbar h1 {
    font-size: 100px;
  }
  .navbar img {
    max-width: 100%;
    max-height: auto;
  }